{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1>{{user_type}} Login</h1>
<form action="{% url 'login_user' user_type %}" method="POST">
    {% csrf_token %}
    {% for field in form %}

       <p>{{ field.label_tag }}</p>
        <p>{{ field }}</p>
        {% if field.errors %}
            {{field.errors}}
        {% endif %}
        {% endfor %}
        <div id="reset-password-link" class="mt-5 mb-3 text-body-secondary"></div> 
        <script>
            document.getElementById('id_username').addEventListener('input', function() {
              const username = this.value;
              const linkElement = document.getElementById('reset-password-link');
              
              // Assuming the base URL for reset_password is something like '/reset_password/'
              const baseURL = '/account/reset_password/';
              const url = `${baseURL}?username=${encodeURIComponent(username)}`;
              
              linkElement.innerHTML = `<a href="${url}">Forgot Password? Reset</a>`;
            });
          </script>
<input type="submit">
</form>

{% endblock %}